

.rangeslider,
.rangeslider__fill {
  background: #e6e6e6;
  display: block;
  height: 12px;
  width: 100%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.rangeslider {
  position: relative;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: #00ff00;
  position: absolute;
  top: 0;
}

.rangeslider__handle {
  background: white;
  border: 1px solid #D9DBE9;
  cursor: pointer;
  display: inline-block;
  width: 80px;
  height: 40px;
  position: absolute;
  top: -10px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));
  
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
  
.rangeslider__handle:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.12)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}



.wrapper-rangeslider {
  width: 100%;
  margin: 50px auto 0;
}

  .rangeslider {
  background-color: #EFF0F6;
  }
  
.rangeslider__fill {
  height: 100%;
  border-radius: 6px;
  background-clip: padding-box;
  background-color: #4A3AFF;
}

.rangeslider__handle {
  width: 22px;
  height: 22px;
  border: 0;
  top: -5px;
  border-radius: 11px;
  background-clip: padding-box;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.44), inset 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(bottom, #fff 0%, #fff 100%);
  background-image: linear-gradient(to top, #fff 0%, #fff 100%);
}

.rangeslider__handle::before {
      display: block;
    content: attr(data-content);
    position: relative;
    top: -47px;
    left: -7px;
    padding: 4px 5px;
    width: 40px;
    border-radius: 25px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    font-family: "DM Sans";
    font-weight: bold;
    font-size: 16px;
    background-color: #5840ff;
}

#ruler {
  position: relative;
  height: 20px;
}

#ruler span {
  position: absolute;
  width: 10px;
  top: 10px;
  color: #f6f6f6;
  font-size: 10px;
  text-shadow: 0 1px 0 #9e2d04;
}

#ruler span:nth-child(1) { left: 0%; }

#ruler span:nth-child(2) { left: 11%; }

#ruler span:nth-child(3) { left: 22%; }

#ruler span:nth-child(4) { left: 33%; }

#ruler span:nth-child(5) { left: 44%; }

#ruler span:nth-child(6) { left: 55%; }

#ruler span:nth-child(7) { left: 66%; }

#ruler span:nth-child(8) { left: 77%; }

#ruler span:nth-child(9) { left: 88%; }

#ruler span:nth-child(10) { left: 95%; }



/* SLIDER CLASSES */



/* style 1 */
.pricing-card.active-1 .pricing-card-1 {display: block} 
.pricing-card.active-1 .pricing-card-2,
.pricing-card.active-1 .pricing-card-3,
.pricing-card.active-1 .pricing-card-4,
.pricing-card.active-1 .pricing-card-5,
.pricing-card.active-1 .pricing-card-6,
.pricing-card.active-1 .pricing-card-7,
.pricing-card.active-1 .pricing-card-8,
.pricing-card.active-1 .pricing-card-9,
.pricing-card.active-1 .pricing-card-10,
.pricing-card.active-1 .pricing-card-11,{
  display: none;
}
  
.pricing-card.active-1 .pricing-details-1 {display: block} 
.pricing-card.active-1 .pricing-details-2,
.pricing-card.active-1 .pricing-details-3,
.pricing-card.active-1 .pricing-details-4,
.pricing-card.active-1 .pricing-details-5,
.pricing-card.active-1 .pricing-details-6,
.pricing-card.active-1 .pricing-details-7,
.pricing-card.active-1 .pricing-details-8,
.pricing-card.active-1 .pricing-details-9,
.pricing-card.active-1 .pricing-details-10,
.pricing-card.active-1 .pricing-details-11,{
  display: none;
}
  


/* style 2 */
  
.pricing-card.active-2 .pricing-card-2 {display: block} 
.pricing-card.active-2 .pricing-card-1,
.pricing-card.active-2 .pricing-card-3,
.pricing-card.active-2 .pricing-card-4,
.pricing-card.active-2 .pricing-card-5,
.pricing-card.active-2 .pricing-card-6,
.pricing-card.active-2 .pricing-card-7,
.pricing-card.active-2 .pricing-card-8,
.pricing-card.active-2 .pricing-card-9,
.pricing-card.active-2 .pricing-card-10,
.pricing-card.active-2 .pricing-card-11,{
  display: none;
}
  
.pricing-card.active-2 .pricing-details-2 {display: block} 
.pricing-card.active-2 .pricing-details-1,
.pricing-card.active-2 .pricing-details-3,
.pricing-card.active-2 .pricing-details-4,
.pricing-card.active-2 .pricing-details-5,
.pricing-card.active-2 .pricing-details-6,
.pricing-card.active-2 .pricing-details-7,
.pricing-card.active-2 .pricing-details-8,
.pricing-card.active-2 .pricing-details-9,
.pricing-card.active-2 .pricing-details-10,
.pricing-card.active-2 .pricing-details-11,{
  display: none;
}
  


/* style 3 */
.pricing-card.active-3 .pricing-card-3 {display: block} 
.pricing-card.active-3 .pricing-card-1,
.pricing-card.active-3 .pricing-card-2,
.pricing-card.active-3 .pricing-card-4,
.pricing-card.active-3 .pricing-card-5,
.pricing-card.active-3 .pricing-card-6,
.pricing-card.active-3 .pricing-card-7,
.pricing-card.active-3 .pricing-card-8,
.pricing-card.active-3 .pricing-card-9,
.pricing-card.active-3 .pricing-card-10,
.pricing-card.active-3 .pricing-card-11,{
  display: none;
}
  
.pricing-card.active-3 .pricing-details-3 {display: block} 
.pricing-card.active-3 .pricing-details-1,
.pricing-card.active-3 .pricing-details-2,
.pricing-card.active-3 .pricing-details-4,
.pricing-card.active-3 .pricing-details-5,
.pricing-card.active-3 .pricing-details-6,
.pricing-card.active-3 .pricing-details-7,
.pricing-card.active-3 .pricing-details-8,
.pricing-card.active-3 .pricing-details-9,
.pricing-card.active-3 .pricing-details-10,
.pricing-card.active-3 .pricing-details-11,{
  display: none;
}


.pricing-card.display-hidden .pricing-card-1,.pricing-card.display-hidden .pricing-details-1  {display: none !important} 
  
